<div class="footer">
  <div class="middle">
    <div class="left">
      <img src="{{ logo }}" alt="" />
      <br /><br />
      <h1>Big ideas in small packages</h1>
      <h1>Start learnign now</h1>
    </div>
    <div class="right">
      <mat-list role="list">
        <mat-list-item role="listitem">Editorial</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Book lists</mat-list-item>
        <mat-list-item role="listitem" class="list-item">What is Nonfiction?</mat-list-item>
        <mat-list-item role="listitem" class="list-item">What to read next?</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Benefits of reading</mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">Useful links</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Pricing</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Blinkist business</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Gift cards</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Blinkist magaine</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Contact & help</mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">Company</mat-list-item>
        <mat-list-item role="listitem" class="list-item">About</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Careers</mat-list-item>
        <mat-list-item role="listitem" class="list-item">partners</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Code of Conduct</mat-list-item>
      </mat-list>
    </div>
  </div>
  <p id="copyright">© Blinkist 2021 Sitemap | Imprint | Terms of Service | Privacy Policies</p>
</div>
