* {
  font-family: 'Cera Pro';
}

.book-grid {
  margin-top: 16px;
  height: 58vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.mat-tab-body-content::-webkit-scrollbar {
  display: none;
}

.mat-tab-list .mat-tab-label {
  padding-left: 0;
  padding-right: 8rem;
  text-align: left;
  font-size: 18px;
}

.mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #22c870;
}

.mat-tab-group .mat-ink-bar {
  background: #22c870;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #22c870;
}
