* {
  font-family: 'Cera Pro';
}
.login-page {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35%;
  top: 10%;
}

.buttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
